# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
!killeroos_scene.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
!freeglut.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
!freeglut.lib

# Executables
*.exe
*.out
*.app

# Logs
*.tlog
*.log

# Misc
*.lastbuildstate